@model MagicVilla_Web.Models.Dto.VillaUpdateDTO

<div class="p-2"></div>


<div class="container p-4 border">
    <h1 class="text-primary">Update Villa</h1>

    <hr />

    <form asp-action="UpdateVilla">
        @*
            We must have the villa ID in the form, so it's passed back to the controller on Submit/Post to be updated.
            There are two ways to achieve this. We can either show the ID to the client and make read only.
            Or we can create a hidden field, the ID is not displayed in the UI but it's part of the form.
        *@

        @* Option 1 - Display only field.
        <div class="row pt-2">
            <div class="col-2">
                <label asp-for="Id" class="form-label" style="font-size:20px">Villa ID</label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Id" class="form-control" readonly="@Model.Id" />
            </div>
        </div>
        *@

        @* Option 2 - Hidden input *@

        <input asp-for="@Model.Id" hidden />

        <div class="row pt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="form-label" style="font-size:20px"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-2">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

            <div class="col-2">
                <label asp-for="Sqft" class="form-label" style="font-size:20px">Square Feets</label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Sqft" class="form-control" type="number"/>
                 <span asp-validation-for="@Model.Sqft" class="text-danger"></span> 
            </div>
        </div>

        <div class="row pt-2">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

            <div class="col-2">
                <label asp-for="Rate" class="form-label" style="font-size:20px"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Rate" class="form-control" type="number" step="any" />
                <span asp-validation-for="@Model.Rate" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-2">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

            <div class="col-2">
                <label asp-for="Occupancy" class="form-label" style="font-size:20px"></label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.Occupancy" class="form-control" />
                 <span asp-validation-for="@Model.Occupancy" class="text-danger"></span> 
            </div>
        </div>

        <div class="row pt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="ImageUrl" class="form-label" style="font-size:20px">Image URL</label>
            </div>
            <div class="col-10">
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Amenity" class="form-label" style="font-size:20px">Amenities</label>
            </div>
            <div class="col-10">
                <textarea asp-for="@Model.Amenity" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Amenity" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Details" class="form-label" style="font-size:20px"></label>
            </div>
            <div class="col-10">
                <textarea asp-for="@Model.Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.Details" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-5 offset-2 pt-2">
                <a asp-action="IndexVilla" class="btn-primary btn form-control">Back to list</a>
            </div>

            <div class="col-5 pt-2">
                <input type="submit" value="Update Villa" class="btn btn-success form-control" />
            </div>
        </div>
    </form>
</div>
